button {
    font-family:'Courier New', Courier, monospace
}

input {
    font-family:'Courier New', Courier, monospace
}

.squiggle {
    fill:none;
    stroke:black;
    stroke-width:0.4;
    stroke-dasharray:125;

    /** position **/
    position: absolute;
    margin-left: 5px;
}

.animating {
    /** animate! **/
    stroke-dashoffset: 125;
    animation: dash 2s ease-in-out forwards;
}

@keyframes dash {
    from {
        stroke-dashoffset: 125;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.day-container {
    display: inline-block;
    margin-right: 20px;
}

.day-button {
    margin-right: 10px;
    border: none;
    background-color: transparent; 
    padding: 0px;
}

.day-rect :hover {
    transform: scale(1.1);
    transition: ease 200ms;
}