.squiggle {
    fill:none;
    stroke:black;
    stroke-width:0.4;
    stroke-dasharray:125;
    
    /** animate! **/
    stroke-dashoffset: 125;
    animation: dash 2s ease-in-out forwards;

    /** position **/
    position: absolute;
    margin-left: 5px;
}

.squiggle-container {
    position: relative;
}

@keyframes dash {
    from {
        stroke-dashoffset: 125;
    }
    to {
        stroke-dashoffset: 0;
    }
}
