.squiggle {
    fill:none;
    stroke:black;
    stroke-width:0.4;
    stroke-dasharray:125;
    
    /** animate! **/
    stroke-dashoffset: 125;
    animation: dash 2s ease-in-out forwards;

    /** position **/
    position: absolute;
    margin-left: 5px;
}

.container {
    display: inline-block;
    margin-right: 20px;
}

@keyframes dash {
    from {
        stroke-dashoffset: 125;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.day-button {
    margin-right: 20px;
    border: none;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
}
